.sideBar {
  width: 15vw;
  height: 100vh;

  color: #fff;
  background-color: #3f3f46;

  position: fixed;
  top: 0;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 2rem;
}

.leftSideBar {
  left: 0;
}

.rightSideBar {
  right: 0;
}

.videoLabel {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.streamer {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #00bfff;
}

.redditScore {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 700;
}

.redditScore > span {
  display: flex;
  align-items: center;

  height: 1em;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0.2em;
}


.redditLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  color: white;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 700;
}

.redditLink > span {
  display: flex;
  align-items: center;

  height: 1em;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0.2em;
}


.redditLink > svg {
  height: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breaker {
  margin-top: 0.75em;
  margin-bottom: 0.75em;

  height: 0.1em;
  width: 100%;

  border-radius: 10px;

  background-color: white;
}