.sideBar {
  width: 15vw;
  height: 100vh;

  color: #fff;
  background-color: #3f3f46;

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 2rem;
}

.leftSideBar {
  left: 0;
}

.rightSideBar {
  right: 0;
}

.videoLabel {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.streamer {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #00bfff;
}

.redditScore {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.25rem;

  font-size: 1rem;
  font-weight: 700;
}